@model VehicleRouting.Models.PointOfDelivery

@{
    ViewBag.Title = "Points of Deliveries details";
}

<h2>Points of Deliveries details</h2>

<div>
    <h4>PointOfDelivery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoordX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoordY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoordY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
