@model IEnumerable<VehicleRouting.Models.PointOfDelivery>

@{
    ViewBag.Title = "Points of Deliveries";
}

<h2>Points of Deliveries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoordX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoordY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoordX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoordY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
