@model VehicleRouting.Models.Vehicle

@{
    ViewBag.Title = "Show Details";
}

<h2>Details about Vehicle</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpawnPointX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpawnPointX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpawnPointY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpawnPointY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
